/* Search */
.pencarian-news .container .input-group input[type="text"] {
  border: 2px solid var(--warna1);
  font-size: 0.8rem;
}

.pencarian-news .container .input-group input[type="text"]::placeholder {
  color: #aaa;
  opacity: 1;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]:-ms-input-placeholder {
  color: #aaa;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]::-ms-input-placeholder {
  color: #aaa;
}

.pencarian-news .container .input-group input[type="text"]:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group button {
  background-color: var(--warna1);
  color: var(--warna2);
}

.pencarian-news .container .input-group select {
  padding: 0 0.5rem 0.13rem 0.5rem;
  font-weight: bold;
  outline: none;
  border: 2px solid var(--warna1);
  font-size: 0.8rem;
  color: var(--warna6);
}
/* End Search */

/* Daftar Blog */
.daftar-blog .card-utama .card {
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.daftar-blog .card-utama .card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.daftar-blog .card-daftar .card {
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.daftar-blog .card-daftar .card:hover {
  filter: drop-shadow(0 10px 5px var(--warna1));
  transform: translateY(-10px);
  transition: 0.5s;
  -webkit-filter: drop-shadow(0 10px 5px var(--warna1));
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.daftar-blog .card-daftar .card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.daftar-blog .card-daftar .card-body .card-kategori h6,
.daftar-blog .card-utama .card-body .card-kategori h6 {
  font-weight: bold;
  color: var(--warna1);
}

.daftar-blog .card-daftar .card-body .card-title span,
.daftar-blog .card-utama .card-body .card-title h5 {
  font-weight: bold;
  color: var(--warna6);
}

.daftar-blog .card-daftar .card-body .card-title p {
  margin-top: 0.5rem;
  color: var(--warna6);
}

.daftar-blog .card-utama .card .card-body p.card-waktu {
  font-size: 0.85rem;
  color: #aaa;
}

.daftar-blog .card-daftar .card .card-body p.card-waktu {
  font-size: 0.7rem;
  color: #aaa;
}

.daftar-blog .ads .card {
  max-height: 20rem;
}

.daftar-blog .ads .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}
/* End Daftar  */

/* Media Breakpoints */
@media (max-width: 576px) {
  .daftar-blog .container .ads {
    display: none;
  }

  .pencarian-news {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .pencarian-news {
    margin-top: 0;
  }

  .daftar-blog .ads .card {
    max-height: 18rem;
  }
}

@media (max-width: 992px) {
  .pencarian-news {
    margin-top: 0;
  }

  .daftar-blog .ads .card {
    max-height: 18rem;
  }
}
