/* Search */
/* .pencarian-news .container .input-group input::placeholder,
.pencarian-news .container .input-group input::-ms-input-placeholder,
.pencarian-news .container .input-group input:-ms-input-placeholder {
  font-size: 0.2rem;
  color: #adb5bd;
}

.pencarian-news .container .input-group input[type="text"] {
  border: 2px solid var(--warna1);
  font-size: var(--title);
}

.pencarian-news .container .input-group input[type="text"]:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group input[type="text"]::placeholder {
  color: #aaa;
  opacity: 1;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]:-ms-input-placeholder {
  color: #aaa;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]::-ms-input-placeholder {
  color: #aaa;
} */

.pencarian-news .container .input-group button {
  background-color: var(--warna1);
  color: var(--warna2);
}

.pencarian-news .container .input-group select:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group select {
  border: 2px solid var(--warna1);
  color: var(--warna6);
}

.pencarian-news .container .input-group select {
  font-weight: bold;
  color: var(--warna6);
}

.pencarian-news .container .seleksi .tombol-pencarian button {
  background-color: var(--warna1);
  color: var(--warna2);
}
/* End Search */

/* Wedding Templates Free */
section.paket .container {
  margin-bottom: 1rem;
}

section.paket h3 {
  margin-bottom: 1rem;
}

section.paket .card {
  max-height: 24rem;
  margin-bottom: 1rem;
  border: none;
  transition: 0.5s;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

section.paket .card .kategori {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 30px;
}

section.paket .card .kategori span {
  padding: 6.7px 15px 10px 15px;
  font-weight: bold;
  background-color: var(--warna1);
  border-radius: var(--lengkungO);
  color: var(--warna2);
  -webkit-border-radius: var(--lengkungO);
  -moz-border-radius: var(--lengkungO);
  -ms-border-radius: var(--lengkungO);
  -o-border-radius: var(--lengkungO);
}

section.paket .card .pemesanan {
  opacity: 0.5;
  right: 0;
  left: 0;
  bottom: 40%;
  transition: 0.5s;
}

section.paket .card .pemesanan:hover {
  right: 0;
  left: 0;
  bottom: 40%;
  opacity: 1;
  background-color: var(--warna1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

section.paket .card .pemesanan a {
  font-weight: bold;
  margin: auto 0.3rem;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

section.paket .card .pemesanan a:nth-child(1) {
  background-color: var(--warna2);
  color: var(--warna1);
}

section.paket .card .pemesanan a:nth-child(2) {
  border: 1px solid var(--warna2);
  color: var(--warna2);
}

/* section.paket .card .pemesanan a:hover {
  color: var(--warna3);
  font-weight: bold;
  background-color: var(--warna2);
  border-radius: 9999px;
} */

.paket .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

/* Videos */
section.video h3 {
  margin-bottom: 1rem;
}

section.video .card {
  border: 0;
  margin-bottom: 1rem;
}

section.video .card,
section.video iframe {
  height: 24rem;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}
/* End Videos */

/* Media Breakpoints */
@media (max-width: 576px) {
  section.paket .card .pemesanan {
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--warna1);
    border-bottom-left-radius: var(--lengkung);
    border-bottom-right-radius: var(--lengkung);
  }

  section.paket .card .pemesanan a {
    margin: auto 0.3rem;
    font-weight: bold;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
  }

  section.paket .card .pemesanan a:nth-child(1) {
    color: var(--warna1);
    background-color: var(--warna2);
  }

  section.paket .card .pemesanan a:nth-child(2) {
    border: 1px solid var(--warna2);
  }
}

@media (max-width: 768px) {
  section.paket .card .pemesanan {
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--warna1);
    border-bottom-left-radius: var(--lengkung);
    border-bottom-right-radius: var(--lengkung);
  }

  section.paket .card .pemesanan a {
    margin: auto 0.3rem;
    font-weight: bold;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
  }

  section.paket .card .pemesanan a:nth-child(1) {
    color: var(--warna1);
    background-color: var(--warna2);
  }

  section.paket .card .pemesanan a:nth-child(2) {
    border: 1px solid var(--warna2);
  }
}

@media (max-width: 992px) {
  section.paket .card .pemesanan {
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--warna1);
    border-bottom-left-radius: var(--lengkung);
    border-bottom-right-radius: var(--lengkung);
  }

  section.paket .card .pemesanan a {
    margin: auto 0.3rem;
    font-weight: bold;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
  }

  section.paket .card .pemesanan a:nth-child(1) {
    color: var(--warna1);
    background-color: var(--warna2);
  }

  section.paket .card .pemesanan a:nth-child(2) {
    border: 1px solid var(--warna2);
  }
}

/* Daftar Blog */
/* .daftar-blog .card {
  max-height: 24rem;
  border: none;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.daftar-blog .card:hover {
  filter: drop-shadow(0 10px 5px var(--warna1));
  transform: translateY(-10px);
  transition: 0.5s;
}

.daftar-blog .card .carousel-caption {
  padding-bottom: 0;
  font-size: 0.9rem;
}

.daftar-blog .card:before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.6)
  );
  display: block;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.daftar-blog .card .carousel-caption span.editor {
  background-color: var(--warna1);
  color: var(--warna2);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: var(--lengkungO);
  -webkit-border-radius: var(--lengkungO);
  -moz-border-radius: var(--lengkungO);
  -ms-border-radius: var(--lengkungO);
  -o-border-radius: var(--lengkungO);
}

.daftar-blog .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 24rem;
  max-height: 24rem;
  border-radius: 1rem;
} */
/* End Daftar Blog */

/* Media Breakpoints */
/* @media (max-width: 768px) {
  .pencarian-news {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .pencarian-news {
    margin-top: 0;
  }
} */
